.navbar { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  padding: 1rem;
  background-color: whitesmoke;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-bottom: 2px solid transparent; 
  transition: border-bottom 0.3s ease-in-out; 
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.Logo-image {
  height: 6rem;
  border-radius: 10%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar.show {
  background-color: royalblue;
  color:white;
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.2);
  border-bottom: 0.3rem solid gray; 
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  transition: transform 0.3s ease;
}


.navbar-links a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 650;
  transition: color 0.3s, background-color 0.3s;
  width: 100%;
  padding-bottom: 5px;  
}

.navbar.show .navbar-links a:hover {
  color: white;
  font-weight: bold;
  background-color: darkgray;
  border-radius: 0.5rem;
  width: 120%;
  padding-bottom: 0.1rem; 
  text-align: center;
}

.navbar-links a:hover {
  color: white;
  background-color: royalblue;
  border-radius: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.Logo-image:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 8px silver;
  background-color: royalblue;
}


.navbar-links.open {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.hamburger {
  display: flex; 
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 1100;
  transition: background-color 0.3s ease;
}

.hamburger-line {
  width: 2rem;
  height: 3px;
  margin-right: 1rem;
  background-color: black;
  border-radius: 1px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}



.hamburger.open .hamburger-line {
  background-color: red; 
}

.hamburger.open .hamburger-line:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.hamburger.open .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .hamburger-line:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

.close-menu {
  position: absolute;
  top: 1.2rem;
  right: 2.6rem;
  font-size: 2rem;
  color: royalblue;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1200;
  display: none; 
}

.close-menu:hover {
  color: red;
}

.navbar.show .hamburger-line {
  background-color: white; 
}


@media screen and (max-width: 768px) {
  .navbar-container {
    justify-content: space-between;
    height: 4rem
  }

  .hamburger {
    display: flex;
    margin-right: 3%;
  }

  .navbar-links {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color: whitesmoke;
    height: 100vh;
    width: 70%;
    transform: translateX(100%);
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
    padding-top: 5rem;
  }

  .navbar.show .navbar-links a {
    color: black; 
  }

  .navbar-links.open {
    color: black;
    transform: translateX(0);
  }

  .hamburger.open .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }

  .hamburger.open .hamburger-line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }
 
}

@media screen and (min-width: 769px) {
  .navbar-links {
    display: flex;
    justify-content: center;
  }

  .hamburger {
    display: none;
  }

  .navbar-logo {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: royalblue;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .navbar-logo:hover {
    color: darkblue;
  }
  .close-menu {
    display: none;
  }

  .navbar.show .close-menu {
    display: block;
}
}